.about {
  padding-top: 94px;

  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 98px 0 98px;
    width: 520px;
    height: 606px;

    background-repeat: no-repeat;

    &:nth-child(1) {
      background-image: url(../images/bg-item-svg-1.svg);
    }
    &:nth-child(2) {
      background-image: url(../images/bg-item-svg-2.svg);
    }
    &:nth-child(3) {
      background-image: url(../images/bg-item-svg-3.svg);
    }
  }
  &__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  &__link {
    width: 210px;
    height: 55px;
    padding: 12px 44px;

    font-weight: normal;
    font-size: 24px;
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &__discr {
    margin-bottom: 60px;

    text-align: center;
    font-size: 18px;
  }
}
