.about {
  padding-top: 120px;

  background-color: rgb(202, 224, 221);

  &__list {
    display: flex;
  }
  &__item {
    width: 420px;
    height: 566px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 48px 0 48px;
    border-radius: 20px;

    background-size: auto;
    background-repeat: no-repeat;
    background-position: left -50px top -31px;

    // background-color: white;
    // box-shadow: 0px 19px 50px rgba(26, 127, 114, 0.15);

    // &:not(:first-child) {
    //   margin-left: 180px;
    // }
    &:nth-child(1) {
      background-image: url('../../images/bg-item-1.png');
    }
    // &:nth-child(2) {
    //   background-image: url('../../images/bg-item-2.png');
    // }
    // &:nth-child(3) {
    //   background-image: url('../../images/bg-item-3.png');
    // }
  }
  &__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  &__link {
    width: 210px;
    height: 55px;
    padding: 12px 44px;

    font-weight: normal;
    font-size: 24px;
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &__discr {
    margin-bottom: 60px;

    text-align: center;
    font-size: 18px;
  }
  &__card {
  }
}
