.hero {
  position: relative;
  background-color: rgb(26, 131, 112);
  background-image: url('../images/bg-image.png'),
    linear-gradient(180deg, rgba(26, 127, 114, 0) 0%, rgb(202, 224, 221) 100%);

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    width: 706px;
    margin-bottom: 20px;

    color: rgb(255, 255, 255);
  }
  &__slogan {
    width: 1109px;
    text-align: center;
    margin-bottom: 30px;

    color: rgba(0, 0, 0, 0.5);
  }
  &__button {
    width: 300px;
    height: 75px;
  }
}
