.player {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 650px;
  height: 150px;

  border-radius: 15px;
  background-image: linear-gradient(
    90deg,
    #1e9787 0%,
    rgba(26, 127, 114, 0.38) 49.39%,
    rgba(26, 127, 114, 0.13) 73.58%,
    rgba(26, 127, 114, 0.04) 91.23%
  );
  box-shadow: -26px 4px 79px rgba(168, 207, 202, 0.39);
  &__box {
    display: flex;
    align-items: center;

    width: 646px;
    height: 146px;
    border-radius: 15px;
    padding-left: 38px;
    background-image: url(../../images/audio-player-bg.svg),
      linear-gradient(90deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 96.77%);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__song-info {
    display: flex;
    flex-direction: column;

    text-align: start;
  }
  &__song-author {
    display: block;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 32px;
    line-height: 1.47;

    color: rgba(0, 0, 0, 0.8);
  }
}
